

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #eee;
}

header.logo-header {
  background-color: white;
}

#intro-block.jumbotron {
  margin-bottom : 0;
  background : transparent url('../img/hero-image.jpg') no-repeat right top fixed;
  background-size: cover;
}

.text-banner {
  margin : 2rem 0 1rem 0;
  padding : 1em 0;
  background-color : rgba(0,0,0,0.7);
  color : rgba(255,255,255,0.75);
}

.text-banner a:hover{
  color : #257ac4;
}

.text-banner a.btn:hover{
  color : white;
}

.text-banner h2 {
  color : white;
}

#contact-container {
 background-color: #fff;
}

.contact-form {
    padding-bottom : 3em;
}

.logo-head {
    float : left;
    width : 100%;
    margin-top : 1em;
}

.logo-image {
    width: 60px;
    height : 60px;    
}

.logo-title {
   display:inline-block; 
   margin-left : .5em; 
   height : 1.5em; 
   margin-top : .25em; 
   vertical-align: top;
}


footer.footer {
  border-top : 1px solid #ccc;
}

.footer .container {
  padding : 1em 30px 3em 30px;
  color : #666;
  font-style: italic;
}
